<div class="sidebar-header-item">
    <div class="sidebar-primary-items__start sidebar-primary__section">
        <div class="sidebar-primary-item">
            <nav class="bd-docs-nav bd-links">
                <ul class="nav bd-sidenav">
                    <li class="toctree-l1">
                        <a class="reference internal" href="user_guide.html">
                            User Guide
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>